@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300');
*{
    box-sizing: border-box;
    font-family: "Cormorant";
    color: #777;
}

html, body{
    margin: 0;
    padding: 0;
}

.nav ul{
    margin: 0;
}

.main-header{
    background-color: rgba(0, 0, 0, 0.60);
    background-image: url(images/dragonskin.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}